body {
  /* sets up for the footer to stick to the bottom */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #F1F7F8;
  font-family: 'Montserrat', sans-serif;
}

::selection {
  background-color: rgb(251, 187, 68);
}

::-moz-selection {
  background-color: rgb(251, 187, 68); 
}

/* Navigation //////////////////////////////////////////////////////////////////////////////////////////*/
.navbar {
  background-color: #CADEE2;
}

.navbar-brand {
  color:#5CA1AD;
}

.navbar-brand:hover {
  color: #5CA1AD; 
}

.navbar-toggler {
  color:#5CA1AD;
}

.navbar-toggler-icon {
  color:#5CA1AD;
}

.nav-link {
  text-decoration: none;
  margin-left: 20px; 
  margin-right: 20px; 
  padding-left: 5px;
  padding-right: 5px;
  background-color: #deecef;
  border-radius: 40px;
  font-size: 1.25rem;
  color: #1B3236;
}

.nav-link:hover {
  background-color: #5CA1AD;
  color:#CADEE2;
}

.nav-link:active {
  color:#1B3236
}

.nav-link-offCanvas {
  text-decoration: none;
  font-size: 2.25rem;
  color: #1B3236;
}

.nav-item-offCanvas {
  padding: 10%; 
}

.nav-link-offCanvas:hover {
  text-decoration: underline;
  color:#5CA1AD;
}

.nav-link-offCanvas:active {
  color:#1B3236; 
}

/* Main page /////////////////////////////////////////////////////////////////////////////////////////*/
.page-content {
  flex: 1 0 auto;
  width: 100%;
}

h1, h2 {
  text-align: center;
  color: #1B3236;
}

.hero-container {
  display: block;
  margin-top: 3%; 
}

.main-h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 4rem;
}

.main-h2 {
  font-weight: 400; 
  font-size: 1.5rem;
  padding: 1% 4%; 
}

.description {
  font-size: 1rem;
  margin: auto;
  width: 75%;
  background-color: #F1F7F8;
}

/* API SECTION  //////////////////////////////////////////////////////////////////////////////////////*/
.show-conditions-btn {
  border-style: none;
  border-radius: 20px;
  background-color:#5CA1AD;
  color:white; 
}

.show-conditions-btn:hover {
  background-color:#CADEE2;
}

.iqAir-root {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.iqAir {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding: 25px;
  background-color: #CADEE2;
  margin: 0% auto 5%;
  border-radius: 40px;
  font-size: 1.25rem;
  width: 75%; 
}

.pollution-h3 {
  margin: 2rem 0 0;
}

.concentration-p {
  margin: 0 0 10;
  font-size: 0.8rem;
}

.pollutant-table caption {
  text-align: center;
}

.pollutant-table {
  display: grid;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
  border-spacing: 2rem 1rem;
}

tbody {
  border: 2px solid;
  border-color: #4a818a;
  margin: auto;
}

caption {
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.pollutant-table th {
  font-size: 1rem;
  font-weight: normal;
  padding: 5px 30px; 
}

.pollutant-table td {
  background-color: #deecef;
  border-radius: 40px; 
}


.open-weather-credit{
  font-size: 0.75rem;
}

/* Contact Page ////////////////////////////////////////////////////////////////////////////////////////////////////*/

.contact-email {
  text-decoration: none;
  color: inherit;
}


.contact-div {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.contact-text {
    color: #5CA1AD;
}
.contact-h1{
    font-size: 3rem;
}

.contact-email {
  text-decoration: underline;
   color: #4a818a;
}



.footer {
  /* margin-top: auto here is the key to getting the footer to stick to the bottom */
  margin-top: auto;
  padding: 20px;
  flex-shrink: 0;
  text-align: center;
  color: white;
  background-color: #5CA1AD;
}


/* Media Queries */

@media all and (min-width: 576px) and (max-width: 992px) {
  .main-h1 {
    padding-top: 5%; 
    font-size: 6.5rem;
  }
  
  .main-h2 {
    font-size: 2.5rem;
    margin: 3% 3%; 
  }
  
  .description {
    font-size: 2rem;
    padding: 4% 0%; 
  }
  .iqAir {
    scale: 110%; 
  }
  .fa-bars {
    font-size: 3rem;
  }
  .nav-link-offCanvas {
    font-size: 2.5rem;
  }
  
  .nav-item-offCanvas {
    padding: 10%; 
  }
}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px){
  
}

@media screen and (min-width: 1400px){
  
}